{% extends "base.html" %} {% block main %}

<article class="message">
    <div class="message-header">
        <p>The Rolling Stones</p>
    </div>
    <div class="message-body">
        Uma das maiores bandas de rock de todos os tempos, o Rolling Stones
        começou sua carreira em 1962 e continua em atividade até hoje. A banda
        foi junto com os Beatles, um dos responsáveis pela explosão do rock nos
        anos 60, além de ser considerado um dos artistas britânicos mais
        importantes na história da música. A formação original da banda era:
        Brian Jones (guitarra), Keith Richards (guitarra), Mick Jagger (vocal),
        Bill Wyman (baixo) e Charlie Watts (bateria). Jones deixou a banda em
        1969, sendo substiuído por Mick Taylor, que permanece na banda até 74,
        ano que Ron Wood assume a guitarra dos Stones. A última mudança na
        formação do grupo aconteceu em 1993, quando Wyman se desligou dos
        Stones. A atual formação do grupo conta com Richards, Jagger, Watts e
        Wood.
    </div>
</article>

<article class="message">
    <div class="message-header">
        <p>The Beatles</p>
    </div>
    <div class="message-body">
        The Beatles foi uma banda britânica, de rock, formada em Liverpool,
        cidade do noroeste da Inglaterra, que ficou famosa em todo o mundo e
        influenciou toda uma geração, movimento que a imprensa britânica chamou
        de Beatlemania. The Beatles foi formada em 1960, por 4 integrantes, John
        Lennon, Ringo Starr, Paul McCartney e George Harrison. A banda criada em
        1957, inicialmente foi formada por John Lennon e seus colegas de escola,
        Peter Sholton, Erick Griffths, Bill Smith e Rod Davis. Em homenagem a
        escola Quarry Bank School, a banda recebeu o nome de The Quarrymen.
    </div>
</article>

{% endblock main %}
